/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    overflow: hidden;
}

h1{
    margin-top: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  vertical-align: bottom;
}

.footer h1{
    margin: 2px auto;
    font-size: 150px;
}

/* my other styles */
html,body{
    background-color: #000;
    color: #fff;
}

.pull-up-a-bit{
    margin-top: 0;
}

.todays-date h1{
    font-size: 65px;
}

/* thermometer stuff */

.thermometer {
    margin: 20px 60px 0 0;
    width: 100px;
}
.thermometer .glass {
    background: #fff;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 300px;
    margin: 0 40px 10px;
    padding: 5px;
    position: relative;
    width: 60px;
}

.thermometer .black-filler{
    background: #000;
    border-radius: 100px;
    display: block;
    width: 50px;
    position: absolute;
    bottom: -15px;
    height: 103%;
}

.thermometer .amount {
    background: #fff;
    border-radius: 100px;
    display: block;
    width: 37px;
    position: absolute;
    bottom: -10px;
    left: 12px;
}

.bulb {
    background: #fff;
    border-radius: 100px;
    display: block;
    height: 100px;
    margin: 0 35px 5px;
    padding: 5px;
    position: relative;
    top: -20px;
    right: 15px;
    width: 100px;
}

.super-cold {
    height: 5%;
}

.cold {
    height: 20%;
}

.mild{
    height: 40%;
}

.warm {
    height: 60%;
}

.hot{
    height: 80%;
}

.super-hot{
    height: 98%;
}

.wi{
    color: #fff;
    font-size: 90px;
}
