<!DOCTYPE html>
<html ng-app="mirrorMirror">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Mirror mirror on the wall</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css"/>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/socket.service.js"></script>
    <script src="app/weather.service.js"></script>
    <script src="app/mirror.controller.js"></script>
</head>
<body ng-controller="mirrorController as vm">
<div class="container-fluid">
    <div class="row">
        <div class="upper-left col-sm-7 todays-date" ng-cloak>
            <div class="clearfix"></div>
            <h1>{{vm.dayName}}</h1>
            <h1>{{vm.monthName}} {{vm.dayNumber}}</h1>
            <div class="clearfix"></div>
            <div class="pull-left" style="margin-top: 10px;">
                <img ng-src="{{vm.imageUrl}}" style="width: 330px;"/>
            </div>
        </div>
        <div class="upper-right col-sm-4 col-sm-offset-1 pull-right"
             ng-cloak>
            <div class="thermometer pull-right text-right" style="position: relative;">
                <i class="wi" ng-class="vm.weatherIconClass" style="position: absolute;top: 150px; left: -95px;"></i>
                <span class="glass">
                    <span class="black-filler"></span>
                    <span class="amount"
                          ng-class="{'super-cold':vm.currentTemperature <= 32,
                                     'cold':vm.currentTemperature > 32 && vm.currentTemperature <= 40,
                                     'mild':vm.currentTemperature > 40 && vm.currentTemperature <= 55,
                                     'warm':vm.currentTemperature > 55 && vm.currentTemperature <= 72,
                                     'hot':vm.currentTemperature > 72 && vm.currentTemperature <= 90,
                                     'super-hot':vm.currentTemperature > 90}"></span>
                </span>
                <div class="bulb"></div>
                <h1 class="pull-up-a-bit">{{vm.currentTemperature}}&deg;F</h1>
            </div>

        </div>
    </div>
</div>
<footer class='footer'>
    <div class='container-fluid'>
        <div class="row">
            <div class="col-xs-12 text-center" style="position: relative;" ng-cloak>
                <h1>{{vm.bottomContent}}</h1>
                <img src="images/Raspberry_Pi_Logo.svg.png" style="width: 50px; position: absolute; left: calc(100% - 50px); bottom: 2px;">
            </div>
        </div>
    </div>
</footer>
</body>
</html>
