<!DOCTYPE html>
<html lang="en" ng-app="mirrorAdmin">
<head>
    <meta charset="UTF-8">
    <title>Mirror Admin</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="adminApp/app.js"></script>
    <script src="adminApp/admin.controller.js"></script>
    <style>
        .row{
            margin-top: 10px;
        }
    </style>
</head>
<body ng-controller="adminController as vm">
    <div class="container">
        <div class="row" ng-show="vm.showIp">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <label>Mirror IP Address</label>
                    <input type="text" class="form-control" ng-model="vm.ip">
                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <button class="btn btn-block btn-primary" ng-click="vm.turnOff();">Turn Off</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <button class="btn btn-block btn-primary" ng-click="vm.turnOn();">Turn On</button>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <input type="text" class="form-control" ng-model="vm.bottomText">
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="margin-top: 10px;">
                <button class="btn btn-block btn-primary" ng-click="vm.updateText();">Update Text</button>
            </div>
        </div>
    </div>
</body>
</html>